.pin_row {
    background-color: #274;
    border: solid 0.05rem lightgrey;

    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    padding: 0;
    margin: 0;
}

.pin_label {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0.5rem;
}

.left_column {
    flex-direction: row-reverse;
}
