.pin_number_wrapper {
    background: black;
    color: white;
}

.pin_number_selected {
    background: cornflowerblue;
    color: black;
    position: relative;
    float: right;
    width: 80%;
    height: 80%;
    border-radius: 50%;
}

.dontDisplay {
    background: transparent;
    color: white;
}

.removeSelect {
    user-select: none;
}

.pin_number {
    cursor: pointer;
    background: black;
    color: white;

    border-radius: 1.25rem;
    border-color: black;
    border-width: 0.25rem;
    border-style: solid;

    width: 2rem;
    height: 2rem;
    margin: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pin_number_power {
    border-color: brown;
}
.pin_number_ground {
    border-color: grey;
}
.pin_number_gpio {
    border-color: #274;
}
.pin_number_id {
    border-color: yellow;
}
